:root {
  --primary-colour: #00294c;
  --secondary-colour: #025c95;
  --tertiary-colour: #dcf0fd;
  --quaternary-colour: #f3a103;
  --quinary-colour: #8b1c1a;
  --senary-colour: #0077c3;
  --white: #ffffff;
  --success: #28a745;
  --warning: #ffc107;
  --error: #dc3545;
  --btn-light: var(--quaternary-colour);
  --btn-dark: var(--quinary-colour);
  --primary-font-colour: #ebf7ff;
  --input-colour: #707070;
  --border-radius-large: 40px;
  --border-radius-medium: 30px;
  --border-radius-small: 20px;
  --main-body-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
