@use "../abstracts/mixins" as *;

$bgColour: var(--white);
$inputColour: var(--input-colour);
$inputBorderRadius: var(--border-radius-large);
$inputBorderColour: var(--quaternary);
$form-font-family: var(--main-body-font);
$errorColour: var(--error);

.selectDiv select,
.inputDiv select {
  @include typography("lg", $inputColour, $form-font-family, normal);
  border-radius: $inputBorderRadius;
  background-color: $bgColour;
  border: 1px solid $inputBorderColour;
  padding: 0 2.4rem;
  margin: 0.5rem 0;
  width: 100%;
  height: 5rem;
  display: block;
  word-break: normal;
}

.selectDiv,
.inputDiv {
  &Hint {
    @include typography("md", $bgColour, $form-font-family, normal);
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  &Error {
    @include typography("md", $bgColour, $form-font-family, normal);
    background-color: $errorColour;
    border-radius: $inputBorderRadius;
    padding: 0.6rem 2rem;
  }
}
