@use "../abstracts/_mixins" as *;

.header,
.headerSmall {
  margin: 0 auto;
  text-align: left;
  max-width: var(--app-width);
  background-color: var(--tertiary-colour);

  h1 {
    background-color: var(--primary-colour);
    border-top-left-radius: var(--border-radius-medium);
    border-top-right-radius: var(--border-radius-medium);
    border-top: var(--app-border);
    border-left: var(--app-border);
    border-right: var(--app-border);
    box-sizing: border-box;
    padding: 3rem 0 0 var(--app-side-padding);

    @include typography(
      "title-lrg",
      var(--primary-font-colour),
      ("BebasNeue", sans-serif),
      bold
    );

    @include breakpoint("md") {
      @include font-size("title-xl");
    }
  }
}

.header {
  h1 {
    padding-right: 3rem;
  }
}
.headerSmall {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  h1 {
    @include font-size("title-sm");

    @include breakpoint("md") {
      @include font-size("title-md");
    }
  }
  h2 {
    padding: 1rem 0 1rem var(--app-side-padding);
    background-color: var(--primary-colour);
    border-left: var(--app-border);
    border-right: var(--app-border);
  }
}
