@use "../abstracts/mixins" as *;

.schedule {
  h3,
  h4 {
    margin-top: 2rem;
    line-height: 1;
  }

  h4 {
    margin-top: 0.5rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul:first-of-type li:first-of-type h3 {
    margin-top: 0;
  }

  &Exercises {
    ul {
      margin-bottom: 3rem;
    }

    li {
      color: var(--primary-colour);
      margin-bottom: 1rem;
    }
  }

  a {
    margin: 0.5rem 0;
    width: 60%;

    @include breakpoint("md") {
      width: 40%;
    }
  }
}
