@use "../abstracts/mixins" as *;
@use "../components/rootLayout.module" as *;

html {
  font-size: 62.5%;
  overflow: auto;
}

body {
  background-color: var(--tertiary-colour);
  font-size: 1.6rem;
  margin: 0.5rem;
  height: 100%;
}

html,
body {
  min-height: 100vh;
}
main {
  margin: 0 auto;
  max-width: var(--app-width);
  min-height: 70vh;
}
