@use "../abstracts/mixins" as *;
@use "../fonts/fonts" as *;

h1,
h2 {
  @include typography(
    "xxl",
    var(--quaternary-colour),
    ("BebasNeue", sans-serif),
    bold
  );

  @include breakpoint("md") {
    @include font-size("xxxl");
  }
}

h3 {
  @include typography(
    "xl",
    var(--quaternary-colour),
    ("BebasNeue", sans-serif),
    bold
  );

  @include breakpoint("md") {
    @include font-size("xxl");
  }
}
h4 {
  @include typography(
    "xl",
    var(--quaternary-colour),
    ("BebasNeue", sans-serif),
    bold
  );
}

p {
  margin: 0 0 1.2rem;

  @include typography(
    "md",
    var(--primary-font-colour),
    var(--main-body-font),
    normal
  );
}

li {
  margin-bottom: 0.5rem;

  @include typography(
    "md",
    var(--primary-font-colour),
    var(--main-body-font),
    normal
  );
}

a {
  color: inherit;
}
