@use "../../abstracts/mixins" as *;

.radio,
%radio {
  cursor: pointer;
  color: var(--input-colour);
  background-color: var(--white);
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid var(--white);
  border-radius: var(--border-radius-small);
  transition: all 0.3s ease;
}

.radioChecked,
%radioChecked {
  background-color: var(--senary-colour);
  color: var(--white);
}

.selectDiv select,
.radioDiv fieldset,
.textInputDiv input[type="text"],
.textInputDiv input[type="password"] {
  border-radius: var(--border-radius-large);
  background-color: var(--white);
  border: 1px solid var(--quaternary-colour);
  box-sizing: border-box;
  padding: 0 2.4rem;
  margin: 0.5rem 0 1rem;
  width: 100%;
  height: 5rem;
  display: block;
  word-break: normal;

  @include typography("lg", var(--input-colour), var(--app-body-font), normal);
}

.selectDiv,
.textInputDiv,
.radioDiv fieldset {
  legend,
  label {
    display: block;
    padding: 0;
    @include typography(
      "lg",
      var(--tertiary-colour),
      var(--app-body-font),
      normal,
      0 0 1rem 1.5rem
    );
  }
}

.radioDiv fieldset {
  margin-bottom: 1.4rem;
}

.selectDiv,
.radioDiv,
.checkboxDiv,
.textInputDiv,
.inline {
  margin-bottom: 4rem;

  &Hint {
    @include typography(
      "md",
      var(--tertiary-colour),
      var(--app-body-font),
      normal
    );
    margin: 1.5rem;
  }

  &Error {
    background-color: var(--error);
    border-radius: var(--border-radius-large);
    padding: 0.6rem 2rem;
    @include typography(
      "md",
      var(--white),
      var(--app-body-font),
      normal,
      0.5rem 0
    );
  }
}

.inlineError {
  margin-bottom: 2rem;
}
.radioDiv {
  &Error {
    margin-top: -3rem;
  }
}
