@use "/styles/abstracts/mixins" as *;
@use "/styles/abstracts/animations" as *;

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: var(--tertiary-colour);
  z-index: 99999;

  &Copy1 {
    @include anim-visible(100px);
    @include anim-fade-timed(0ms, true, 0.5s, 5000ms, 100px);
  }

  &Copy2 {
    @include anim-hidden;
    @include anim-fade-timed(5500ms, true, 0.5s, 5000ms, 100px);
  }

  &Copy3 {
    @include anim-hidden;
    @include anim-fade-timed(11000ms, false, 0.5s, 100px);
  }
}

.loaderAnim {
  width: 10rem;
  aspect-ratio: 4;
  --_g: no-repeat
    radial-gradient(circle closest-side, var(--quaternary-colour) 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: loader-bounce-dots 1s infinite ease-out;
  &Gen {
    margin-bottom: 3.8rem;
  }
}

.mainCopy {
  text-align: center;

  @include anim-hidden;
  animation: anim-show-default 0.5s ease-in 500ms forwards;

  @include breakpoint("md") {
    padding: 0;
  }
}

@keyframes loader-bounce-dots {
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }
  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}
